<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'mailing/include/inc_header.html' %}
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:route_mailing_list' %}">Назад, к списку рассылок</a>
    </nav>
    <div class="card-body">
        <div class="mb-3">
            <p></p>
            <label>Время рассылки: </label>
            <a type="time">{{ object.time }} </a>
            <p></p>
            <label>Периодичность рассылки: </label>
            <a type="text">{{ object.period }} </a>
            <p></p>
            <label>Дата старта рассылки:</label>
            <a type="date">{{ object.data_start }}</a>
            <p></p>
            <label>Статус рассылки:</label>
            <a type="text">{{ object.status }} </a>
            <p></p>
            <label">Текст рассылки:</label>
            <a type="text" >{{ object.mailing_text }} </a>
            <p></p>
        </div>
        <a href="{% url 'mailing:route_mailing_update' object.pk %}" class="p-2 btn btn-outline-danger">Изменить</a>
        <a href="{% url 'mailing:route_mailing_delete' object.pk %}" class="p-2 btn btn-outline-danger">Удалить</a>
    </div>
</div>
</body>
</html>