<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'mailing/include/inc_header.html' %}
</head>
<body>

<form method="POST">
<div class="container">
    <div class="col-6">
        {% csrf_token %}
        <div class="card-body">
            <!--<div class="mb-3">
                <label for="subject">Тема рассылки</label>
                <textarea type="text" name="subject" class="form-control" id="subject" required>{{ object.subject }} </textarea>
            </div>
            <label for="time">Время рассылки</label>
            <input type="time" name="time" class="form-control" id="time"
                          required>{{ object.time }}
            <p></p>
            <label for="period">Периодичность рассылки:1-раз в день,2-раз в неделю,3-раз в месяц</label>
            <input type="number" name="period" min="1" max="3" class="form-control" id="period"
                          required>{{ object.period }}
            <p></p>
            <label for="data_start">Дата старта рассылки</label>
            <input type="date" name="data_start" class="form-control" id="data_start"
                          required>{{ object.data_start }}
            <p></p>
            <label for="status">Статус рассылки:1-создание,2-в работе,3-завершена</label>
            <input type="number" name="status" min="1" max="3" class="form-control" id="status"
                          required>{{ object.status }}
            <p></p>
            <label for="mailing_text">Текст рассылки</label>
            <textarea type="text" name="mailing_text" class="form-control" id="mailing_text"
                          required>{{ object.mailing_text }}</textarea>
            <p></p>-->
            {{ form.as_p }}
            <button type = 'submit'>Сохранить</button>
            <a href="{% url 'mailing:route_mailing_list' %}" class="p-2 btn btn-outline-primary">Отмена</a>
        </div>
    </div>
</div>

</form>
</body>
</html>