<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'mailing/include/inc_header.html' %}
</head>
<body>
<form method="POST">
<div class="container">
    <div class="col-6">
        {% csrf_token %}
        <div class="card-body">
            <div class="mb-3">
                <label for="client_name">Имя клиента</label>
                <textarea type="text" name="client_name" class="form-control" id="client_name" required>{{ object.client_name }} </textarea>
            </div>
            <label for="client_email">email клиента</label>
            <textarea type="email" name="client_email" class="form-control" id="client_email"
                          required>{{ object.client_email }}</textarea>
            <label for="is_active">активирован</label>
            <textarea type="bool" name="is_active" class="form-control" id="is_active"
                          required>{{ object.is_active }}</textarea>
            <p></p>
            <button type = 'submit'>Сохранить</button>
            <a href="{% url 'client:route_client_list' %}" class="p-2 btn btn-outline-primary">Отмена</a>
        </div>
    </div>
</div>

</form>
</body>
</html>