<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'mailing/include/inc_header.html' %}
</head>
<body>
<form method="POST">
<div class="container">
    <div class="col-6">
        {% csrf_token %}
        <div class="card-body">
            <div class="mb-3">
                <label for="client_name">Имя клиента</label>
                <textarea type="text" name="client_name" class="form-control" id="client_name" required>{{ object.client_name }} </textarea>
            </div>
            <label for="client_email">email клиента</label>
                <input type="email" name="client_email" class="form-control" id="client_email"
                          required>{{ object.client_email }}
            <p></p>
            <label for="is_active">Статус: False-не активен,True-активный </label>
            {#<select name="select">#}
            {#<option value="value1" selected>Актуален</option>#}
            {#<option value="value2" >Не актуален</option>#}
            {#</select>#}
            <input type="text" name="is_active" min="0" max="1" class="form-control" id="is_active" required>{{ object.is_active }}
            <p></p>
            <button type = 'submit'>Сохранить</button>
            <a href="{% url 'client:route_client_list' %}" class="p-2 btn btn-outline-primary">Отмена</a>
        </div>
    </div>
</div>

</form>
</body>
</html>