<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'mailing/include/inc_header.html' %}
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'client:route_client_list' %}">Назад, к списку клиентов</a>
    </nav>
    <div class="card-body">
        <div class="mb-3">
            <p></p>
            <label>Имя клиента: </label>
            <a type="text">{{ object.client_name }} </a>
            <p></p>
            <label>Адрес клиента: </label>
            <a type="email">{{ object.client_email }} </a>
            <p></p>
            <label>Статус клиента: </label>
            {% if object.is_active == True %}
            <a>Актуален </a>
            {% else %}
            <a>Не актуален </a>
            {% endif %}
            <p></p>
            <label>автор: </label>
            <a type="email">{{ object.user_email.email }}</a>
        </div>
        <p></p>
        <a href="{% url 'client:route_client_update' object.pk %}" class="p-2 btn btn-outline-danger">Изменить</a>
        <a href="{% url 'client:route_client_delete' object.pk %}" class="p-2 btn btn-outline-danger">Удалить</a>
    </div>
</div>
</body>
</html>