<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Управление статьями </h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'mailing:route_home_page' %}">Назад, на Главную страницу</a>

        {#<a class="p-2 btn btn-outline-primary" href="{% url 'blog:route_post_detail' %}"> Просмотр</a>#}
    </nav>

</div>
<div class="card mb-4 box-shadow" >
    <div class="card-header" height="300">
        <h4 class="my-0 font-weight-normal">Cписок постов нашего блога</h4>
        <p></p>
    </div>
    {% for object in object_list %}
    <div class="row text-center">
        <div class="col-8">
            <div class="card mb-4 box-shadow" >
                <div class="card-header" height="300">
                    <h4 class="my-0 font-weight-normal">{{object.head }}</h4>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <h6 class="my-0 font-weight-normal">Количество просмотров {{ object.views_count }}</h6>
                    </div>
                    <h1 class="card-title pricing-card-title"></h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <img src="/media/{{ object.preview }}" height="300" alt="Превью отсутствует">
                        </div>
                    </ul>
                        <a href="{% url 'blog:route_post_view' object.pk %}" class="p-2 btn btn-outline-primary">Посмотреть</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
</body>
</html>