<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Управление статьями: просмотр статьи </h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'blog:route_post_list' %}">Назад, к списку постов</a>
    </nav>
    <div class="card-body">
        <div class="mb-3">
            <label for="head">Тема статьи</label>
            <textarea type="text" name="description" class="form-control" id="head" required>{{ object.head }} </textarea>
            <label for="content">Текст статьи</label>
            <textarea type="text" name="description" class="form-control" id="content" required>{{ object.content }} </textarea>
        </div>
    </div>
</div>
</body>
</html>