<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'mailing/include/inc_header.html' %}
</head>
<body>
<div class="container">
    <div class="row text-start">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-1 box-shadow">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                    <input type="submit" value="Сохранить">
                    <a href="{% url 'mailing:route_home_page' %}" class="p-2 btn btn-outline-primary">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>