<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'mailing/include/inc_header.html' %}
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'users:route_users_list' %}">Назад, к списку пользователей</a>
    </nav>
    <div class="card-body">
        <div class="mb-3">
            <p></p>
            <label>email пользователя: </label>
            <a type="text">{{ object.email }} </a>
            <p></p>
            <label >Компания пользователя: </label>
            <a type="text" >{{ object.company }} </a>
            <p></p>
            <label>Статус пользователя: </label>
            {% if object.is_active == True %}
            <a>Актуален </a>
            {% else %}
            <a>Не актуален </a>
            {% endif %}
            <p></p>
            <label>Телефон пользователя: </label>
            <a type="phone" >{{ object.phone }} </a>
            <p></p>
        </div>
        <a href="{% url 'users:route_users_update' object.pk %}" class="p-2 btn btn-outline-danger">Изменить</a>
        <a href="{% url 'users:route_users_delete' object.pk %}" class="p-2 btn btn-outline-danger">Удалить</a>
    </div>
</div>
</body>
</html>